<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src='socket.io.min.js'></script>
    <script src='//beebotte.com/bbt.js' ></script>
    <script src="js/Chart.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script> -->
</head>
<body>
    <!-- <canvas id='bbtChart' width="400" height="400"></canvas> -->

</body>
</html>
<script>
    
</script>
<!-- <script>
var beebotte = new BBT('gsMtD4jA0aKVC8pnBbpouiBb', {auth_endpoint: 'token_Swm3dmjAykhk69jj'});

var beebotteData = document.getElementById('bbtChart').getContext('2d');

beebotte.subscribe({
    channel: 'private-5008MQ7',
    resource: 'co',
}, function(msg) {
    var chart = new Chart(beebotteData, {
        type: 'line',
        data: {
            labels:['sample'],
            datasets: [{
                label: "beebotte data",
                data:[msg,0],
            }]
        }
    })
})

</script> -->