<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='//beebotte.com/bbt.js' ></script>
    <%# <script src='js/jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script> %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" charset="utf-8"></script>
</head>
<body>
    <canvas id='bbtChart' width="50" height="50"></canvas> 
	<%# <h1 id = 'name'></h1> %>
</body>
</html>
<script>
var school1 = document.getElementById('bbtChart').getContext('2d');
		var sampleChart = new Chart(school1, {
			type: 'line',
			data: {
				labels:[1, 2, 3, 4, 5, 6, 7, 8, 9,10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 
				20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 
				30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 
				40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 
				50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 
				60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 
				70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 
				80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 
				90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 
				100,101,102,103,104,105,106,107,108,109,110],
				datasets: [{
					label: 'Number',
					data:[
						<% name.forEach(function(msg) { %>
                            '<%= msg.data %>',
                        <% }); %>
						0
					],
					backgroundColor: [
						'#42ebf4','#f4425f','#233bc4','#73BFB8','#FF4D80','#C4A287','#44633F',
						'#7D84B2','#8FA6CB','#F3C969','#7F9C96','#9BC53D','#C2948A','#D30C7B',
						'#310D20','#F0803C','#F8C0C8','#EDD382','#C6D8FF','#D6F49D','#EC9DED',
						'#D3BDB0','#A9FDAC','#32A287','#C4C6E7','#9D6381','#505A5B','#BE8A60',
						'#EEE4E1','#084C61','#282F44','#E6F8B2','#8AA2A9','#FFAF87','#AA1155',
						'#FADF63','#F5AC72','#60AFFF','#388659','#C3979F','#A8AEC1','#88A09E',
						'#BCEDF6','#5A0001','#B5446E','#C7DBE6','#B3C2F2','#DB5461','#94A187',

					],
				}]
			},
			options: {
				title: {
					display: true,
					text: 'Carbon monoxide data',
					fontsize: 10
				},
				legend: {
					display: false,
					position: 'right'
				}
			}
		});
</script>